*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-color: #e3f9ff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
form input{
    border: none;
    width: 60px;
    height: 35px;
    margin: 8px 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 1) , -5px -5px 5px rgba(0,0,0,1);
}   
form input:hover{
    background-color: black;
    color: white;
}
.screen{
    display: flex;
    width: 280px;
    height: 100px;
    flex-direction: column;
    outline: none;
    background-color: #3a4452;
    box-shadow: none;
    text-align: right;
    font-size: 30px;
    padding-top: 40px;
}
.screen:hover{
    background-color: #3a4452;
    color: black;
}
.equal{
    width: 134px;
}